.container {
  position: relative;
  display: inline-block;
  height: 23.98vw;
  width: 100vw;
}
.subContainer {
  display: flex;
  overflow: hidden;
  height: 13.98vw;
  transition: all 0.3s;
}

.title {
  color: aqua;
  font-size: 1rem;
}
