.container {
  z-index: 8;
  font-size: 3rem;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 100%;
}

.active {
  width: 5px;
  height: 5px;
  border-radius: 3px;
  object-fit: contain;
  border: solid 1px var(--c-selected);
  background-color: var(--c-white);
  margin: 3px;
  cursor: pointer;
}

.inactive {
  width: 5px;
  height: 5px;
  border-radius: 3px;
  object-fit: contain;
  border: solid 0.5px var(--c-selected);
  margin: 3px;
  cursor: pointer;
}
