@import "./assets/css/globalStyles.css";

:global(#app) {
  background-color: #262626;
  height: 100vh;
}

.page {
  width: 100vw;
  height: var(--app-height);
}

.content-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: var(--app-background-color);
}
